.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

}

.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;

}

.about .left p{
margin: 1.2rem 0;

}

.about .right{
    max-width: 700px;

}
.right .img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;

}
.right .img{
    max-width: 90%;
    border: 1px solid #333;

}
.right .cubespinner{
    max-width: 90%;
    

    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
    div{
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;


    }
    .face1{
        transform: translateZ(100px);
    }
    .face2{
        transform:rotateY(90deg) translateZ(100px);
    }
    .face3{
        transform:rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face4{
        transform:rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .face5{
        transform:rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .face6{
        transform:rotateX(-90deg) translateZ(100px);
    }
}

@keyframes spincube{
    from,
    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(-90deg) ;
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg);

    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);

    }
    66%{
        transform: rotateY(-270deg) rotateZ(90deg);

    }
    83%{
        transform: rotateX(90deg) ;

    }



}
.right .top{
   

    grid-column: 4/-1;
    grid-row: 1;
    
    z-index: 5;

}
.right .bottom{
    grid-column: 1/span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
    
}
